<a href="https://colab.research.google.com/github/MStamirski/Spaceship-Titanic/blob/main/FinalDatasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparation

In [ ]:
from google.colab import drive
drive.mount("/content/drive")
%cd "/content/drive/MyDrive/Colab_Notebooks/SDA_upskill/Spaceship"

In [ ]:
!pip install import-ipynb

In [ ]:
import import_ipynb

In [ ]:
from FeaturesEngineering import get_features, categories_one_hot_encoding, categories_target_encoding, categories_leave_one_out_encoding

# Basic dataset

In [ ]:
df = get_features('train')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PassengerId       8693 non-null   object
 1   HomePlanet        8693 non-null   object
 2   CryoSleep         8693 non-null   object
 3   Destination       8693 non-null   object
 4   VIP               8693 non-null   object
 5   Transported       8693 non-null   bool
 6   Cabin_deck        8693 non-null   object
 7   Cabin_side        8693 non-null   object
 8   Cabin_num/100     8693 non-null   int64
 9   Cabin_persons     8693 non-null   int64
 10  Age_deciles       8693 non-null   int64
 11  RService_deciles  8693 non-null   int64
 12  FCourt_deciles    8693 non-null   int64
 13  ShMall_deciles    8693 non-null   int64
 14  Spa_deciles       8693 non-null   int64
 15  VRD_deciles       8693 non-null   int64
dtypes: bool(1), int64(8), object(7)
memory usage: 1.0+ MB

In [ ]:
df.head(10)

,PassengerId,HomePlanet,CryoSleep,Destination,VIP,Transported,Cabin_deck,Cabin_side,Cabin_num/100,Cabin_persons,Age_deciles,RService_deciles,FCourt_deciles,ShMall_deciles,Spa_deciles,VRD_deciles
0,0001_01,Europa,False,TRAPPIST-1e,False,False,B,P,0,1,8,1,1,1,1,1
1,0002_01,Earth,False,TRAPPIST-1e,False,True,F,S,0,1,4,8,7,8,9,8
2,0003_01,Europa,False,TRAPPIST-1e,True,False,A,S,0,2,10,8,10,1,10,8
3,0003_02,Europa,False,TRAPPIST-1e,False,False,A,S,0,2,7,1,10,9,10,9
4,0004_01,Earth,False,TRAPPIST-1e,False,True,F,S,0,1,2,9,8,9,9,7
5,0005_01,Earth,False,PSO J318.5-22,False,True,F,P,0,1,9,1,9,1,9,1
6,0006_01,Earth,False,TRAPPIST-1e,False,True,F,S,0,1,5,8,10,7,1,1
7,0006_02,Earth,True,TRAPPIST-1e,False,True,G,S,0,1,6,1,1,1,1,1
8,0007_01,Earth,False,TRAPPIST-1e,False,True,F,S,0,1,7,1,9,8,9,1
9,0008_01,Europa,True,55 Cancri e,False,True,B,P,0,3,1,1,1,1,1,1

# Categories: one hot encoding

In [ ]:
df_ohe = categories_one_hot_encoding(df)
df_ohe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 92 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PassengerId                8693 non-null   object
 1   Transported                8693 non-null   bool
 2   HomePlanet_Earth           8693 non-null   uint8
 3   HomePlanet_Europa          8693 non-null   uint8
 4   HomePlanet_Mars            8693 non-null   uint8
 5   HomePlanet_Unknown         8693 non-null   uint8
 6   CryoSleep_False            8693 non-null   uint8
 7   CryoSleep_True             8693 non-null   uint8
 8   CryoSleep_Unknown          8693 non-null   uint8
 9   Destination_55 Cancri e    8693 non-null   uint8
 10  Destination_PSO J318.5-22  8693 non-null   uint8
 11  Destination_TRAPPIST-1e    8693 non-null   uint8
 12  Destination_Unknown        8693 non-null   uint8
 13  VIP_False                  8693 non-null   uint8
 14  VIP_True                   8693 non-null   uint8
 15  VIP_Unknown                8693 non-null   uint8
 16  Cabin_deck_0               8693 non-null   uint8
 17  Cabin_deck_A               8693 non-null   uint8
 18  Cabin_deck_B               8693 non-null   uint8
 19  Cabin_deck_C               8693 non-null   uint8
 20  Cabin_deck_D               8693 non-null   uint8
 21  Cabin_deck_E               8693 non-null   uint8
 22  Cabin_deck_F               8693 non-null   uint8
 23  Cabin_deck_G               8693 non-null   uint8
 24  Cabin_deck_T               8693 non-null   uint8
 25  Cabin_side_0               8693 non-null   uint8
 26  Cabin_side_P               8693 non-null   uint8
 27  Cabin_side_S               8693 non-null   uint8
 28  Cabin_num/100_0            8693 non-null   uint8
 29  Cabin_num/100_1            8693 non-null   uint8
 30  Cabin_num/100_2            8693 non-null   uint8
 31  Cabin_num/100_3            8693 non-null   uint8
 32  Cabin_num/100_4            8693 non-null   uint8
 33  Cabin_num/100_5            8693 non-null   uint8
 34  Cabin_num/100_6            8693 non-null   uint8
 35  Cabin_num/100_7            8693 non-null   uint8
 36  Cabin_num/100_8            8693 non-null   uint8
 37  Cabin_num/100_9            8693 non-null   uint8
 38  Cabin_num/100_10           8693 non-null   uint8
 39  Cabin_num/100_11           8693 non-null   uint8
 40  Cabin_num/100_12           8693 non-null   uint8
 41  Cabin_num/100_13           8693 non-null   uint8
 42  Cabin_num/100_14           8693 non-null   uint8
 43  Cabin_num/100_15           8693 non-null   uint8
 44  Cabin_num/100_16           8693 non-null   uint8
 45  Cabin_num/100_17           8693 non-null   uint8
 46  Cabin_num/100_18           8693 non-null   uint8
 47  Cabin_num/100_19           8693 non-null   uint8
 48  Cabin_persons_1            8693 non-null   uint8
 49  Cabin_persons_2            8693 non-null   uint8
 50  Cabin_persons_3            8693 non-null   uint8
 51  Cabin_persons_4            8693 non-null   uint8
 52  Cabin_persons_5            8693 non-null   uint8
 53  Cabin_persons_6            8693 non-null   uint8
 54  Cabin_persons_7            8693 non-null   uint8
 55  Cabin_persons_8            8693 non-null   uint8
 56  Cabin_persons_199          8693 non-null   uint8
 57  Age_deciles_1              8693 non-null   uint8
 58  Age_deciles_2              8693 non-null   uint8
 59  Age_deciles_3              8693 non-null   uint8
 60  Age_deciles_4              8693 non-null   uint8
 61  Age_deciles_5              8693 non-null   uint8
 62  Age_deciles_6              8693 non-null   uint8
 63  Age_deciles_7              8693 non-null   uint8
 64  Age_deciles_8              8693 non-null   uint8
 65  Age_deciles_9              8693 non-null   uint8
 66  Age_deciles_10             8693 non-null   uint8
 67  RService_deciles_1         8693 non-null   uint8
 68  RService_deciles_7         8693 non-null   uint8
 69  RService_deciles_8         8693 non-null   uint8
 70  RService_deciles_9         8693 non-null   uint8
 71  RService_deciles_10        8693 non-null   uint8
 72  FCourt_deciles_1           8693 non-null   uint8
 73  FCourt_deciles_7           8693 non-null   uint8
 74  FCourt_deciles_8           8693 non-null   uint8
 75  FCourt_deciles_9           8693 non-null   uint8
 76  FCourt_deciles_10          8693 non-null   uint8
 77  ShMall_deciles_1           8693 non-null   uint8
 78  ShMall_deciles_7           8693 non-null   uint8
 79  ShMall_deciles_8           8693 non-null   uint8
 80  ShMall_deciles_9           8693 non-null   uint8
 81  ShMall_deciles_10          8693 non-null   uint8
 82  Spa_deciles_1              8693 non-null   uint8
 83  Spa_deciles_7              8693 non-null   uint8
 84  Spa_deciles_8              8693 non-null   uint8
 85  Spa_deciles_9              8693 non-null   uint8
 86  Spa_deciles_10             8693 non-null   uint8
 87  VRD_deciles_1              8693 non-null   uint8
 88  VRD_deciles_7              8693 non-null   uint8
 89  VRD_deciles_8              8693 non-null   uint8
 90  VRD_deciles_9              8693 non-null   uint8
 91  VRD_deciles_10             8693 non-null   uint8
dtypes: bool(1), object(1), uint8(90)
memory usage: 840.6+ KB

In [ ]:
df_ohe.head(10)

,PassengerId,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,HomePlanet_Unknown,CryoSleep_False,CryoSleep_True,CryoSleep_Unknown,Destination_55 Cancri e,...,Spa_deciles_1,Spa_deciles_7,Spa_deciles_8,Spa_deciles_9,Spa_deciles_10,VRD_deciles_1,VRD_deciles_7,VRD_deciles_8,VRD_deciles_9,VRD_deciles_10
0,0001_01,False,0,1,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1,0002_01,True,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,0003_01,False,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,0
3,0003_02,False,0,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0004_01,True,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
5,0005_01,True,1,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
6,0006_01,True,1,0,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
7,0006_02,True,1,0,0,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0
8,0007_01,True,1,0,0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,0,0
9,0008_01,True,0,1,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,0,0

# Categories: target encoding

In [ ]:
df_te = categories_target_encoding(df)
df_te.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PassengerId                   8693 non-null   object
 1   Transported                   8693 non-null   bool
 2   HomePlanet_transformed        8693 non-null   float64
 3   CryoSleep_transformed         8693 non-null   float64
 4   Destination_transformed       8693 non-null   float64
 5   VIP_transformed               8693 non-null   float64
 6   Cabin_deck_transformed        8693 non-null   float64
 7   Cabin_side_transformed        8693 non-null   float64
 8   Cabin_num/100_transformed     8693 non-null   float64
 9   Cabin_persons_transformed     8693 non-null   float64
 10  Age_deciles_transformed       8693 non-null   float64
 11  RService_deciles_transformed  8693 non-null   float64
 12  FCourt_deciles_transformed    8693 non-null   float64
 13  ShMall_deciles_transformed    8693 non-null   float64
 14  Spa_deciles_transformed       8693 non-null   float64
 15  VRD_deciles_transformed       8693 non-null   float64
dtypes: bool(1), float64(14), object(1)
memory usage: 1.0+ MB

In [ ]:
df_te.head(10)

,PassengerId,Transported,HomePlanet_transformed,CryoSleep_transformed,Destination_transformed,VIP_transformed,Cabin_deck_transformed,Cabin_side_transformed,Cabin_num/100_transformed,Cabin_persons_transformed,Age_deciles_transformed,RService_deciles_transformed,FCourt_deciles_transformed,ShMall_deciles_transformed,Spa_deciles_transformed,VRD_deciles_transformed
0,0001_01,False,0.658846,0.328921,0.471175,0.506332,0.734275,0.451260,0.526744,0.445550,0.471867,0.627822,0.589289,0.596894,0.634465,0.624494
1,0002_01,True,0.423946,0.328921,0.471175,0.506332,0.439871,0.555037,0.526744,0.445550,0.525180,0.363006,0.209503,0.214039,0.250863,0.347877
2,0003_01,False,0.658846,0.328921,0.471175,0.381910,0.496094,0.555037,0.526744,0.595481,0.485820,0.363006,0.537399,0.596894,0.134638,0.347877
3,0003_02,False,0.658846,0.328921,0.471175,0.506332,0.496094,0.555037,0.526744,0.595481,0.465479,0.627822,0.537399,0.251152,0.134638,0.281106
4,0004_01,True,0.423946,0.328921,0.471175,0.506332,0.439871,0.555037,0.526744,0.445550,0.520037,0.245109,0.232394,0.251152,0.250863,0.375000
5,0005_01,True,0.423946,0.328921,0.503769,0.506332,0.439871,0.451260,0.526744,0.445550,0.497826,0.627822,0.336782,0.596894,0.250863,0.624494
6,0006_01,True,0.423946,0.328921,0.471175,0.506332,0.439871,0.555037,0.526744,0.445550,0.483117,0.363006,0.537399,0.253425,0.634465,0.624494
7,0006_02,True,0.423946,0.817583,0.471175,0.506332,0.516217,0.555037,0.526744,0.445550,0.505882,0.627822,0.589289,0.596894,0.634465,0.624494
8,0007_01,True,0.423946,0.328921,0.471175,0.506332,0.439871,0.555037,0.526744,0.445550,0.465479,0.627822,0.336782,0.214039,0.250863,0.624494
9,0008_01,True,0.658846,0.817583,0.610000,0.506332,0.734275,0.451260,0.526744,0.611780,0.627343,0.627822,0.589289,0.596894,0.634465,0.624494

# Categories: leave one out encoding

In [ ]:
df_looe = categories_leave_one_out_encoding(df)
df_looe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PassengerId                   8693 non-null   object
 1   Transported                   8693 non-null   bool
 2   HomePlanet_transformed        8693 non-null   float64
 3   CryoSleep_transformed         8693 non-null   float64
 4   Destination_transformed       8693 non-null   float64
 5   VIP_transformed               8693 non-null   float64
 6   Cabin_deck_transformed        8693 non-null   float64
 7   Cabin_side_transformed        8693 non-null   float64
 8   Cabin_num/100_transformed     8693 non-null   float64
 9   Cabin_persons_transformed     8693 non-null   float64
 10  Age_deciles_transformed       8693 non-null   float64
 11  RService_deciles_transformed  8693 non-null   float64
 12  FCourt_deciles_transformed    8693 non-null   float64
 13  ShMall_deciles_transformed    8693 non-null   float64
 14  Spa_deciles_transformed       8693 non-null   float64
 15  VRD_deciles_transformed       8693 non-null   float64
dtypes: bool(1), float64(14), object(1)
memory usage: 1.0+ MB

In [ ]:
df_looe.head(10)

,PassengerId,Transported,HomePlanet_transformed,CryoSleep_transformed,Destination_transformed,VIP_transformed,Cabin_deck_transformed,Cabin_side_transformed,Cabin_num/100_transformed,Cabin_persons_transformed,Age_deciles_transformed,RService_deciles_transformed,FCourt_deciles_transformed,ShMall_deciles_transformed,Spa_deciles_transformed,VRD_deciles_transformed
0,0001_01,False,0.647948,0.330454,0.453127,0.482428,0.690392,0.430780,0.513557,0.424892,0.470275,0.580823,0.608275,0.575337,0.605375,0.601355
1,0002_01,True,0.431605,0.326312,0.439602,0.512156,0.418843,0.540385,0.513627,0.449770,0.571240,0.365338,0.217070,0.207911,0.243542,0.341385
2,0003_01,False,0.669044,0.322705,0.462694,0.406228,0.483655,0.537535,0.505086,0.578520,0.471158,0.390986,0.550003,0.607297,0.143316,0.350846
3,0003_02,False,0.700577,0.320084,0.520818,0.506289,0.512364,0.602991,0.496771,0.570216,0.488275,0.612304,0.495819,0.260801,0.119705,0.277158
4,0004_01,True,0.409255,0.310788,0.498192,0.507189,0.448675,0.539882,0.499684,0.505692,0.514539,0.257179,0.225366,0.242994,0.237823,0.395372
5,0005_01,True,0.437248,0.321245,0.516339,0.490529,0.436145,0.450800,0.497668,0.441551,0.509269,0.629701,0.286604,0.645031,0.260713,0.656797
6,0006_01,True,0.406239,0.344720,0.447447,0.503844,0.473702,0.568327,0.556718,0.471049,0.468660,0.384759,0.545335,0.243436,0.636503,0.603395
7,0006_02,True,0.423020,0.831434,0.436830,0.484430,0.520504,0.592419,0.521577,0.454268,0.514415,0.650468,0.592054,0.590578,0.687060,0.577293
8,0007_01,True,0.430335,0.330034,0.465284,0.475518,0.355975,0.541801,0.551990,0.393528,0.469117,0.604239,0.319213,0.239061,0.256748,0.603846
9,0008_01,True,0.633106,0.796894,0.645434,0.469566,0.741071,0.474435,0.499968,0.667519,0.605180,0.594788,0.595694,0.602765,0.600598,0.610019